:root {
    /* alternar cores de fundo (implementar) */
    --corDoTextoDoFundoPreto: white;
    --corDeFundoPreto: black;
    /* paleta de cores (também disponível em HTML/Imagens/PaletaDeCores) */
    --corPrincipal: #1e202c;
    --corSecundaria: #60519b;
    --corTerciaria: #31323e;
    --corQuartenaria: #bfc0d1;
    /* cores gradiantes */
    /*
        var(--corPrincipal), var(--corSecundaria)
        var(--corSecundaria), var(--corTerciaria)
        var(--corTerciaria), var(--corQuartenaria)
        var(--corPrincipal), var(--corTerciaria)
    */
}

body {
    background-image: radial-gradient(var(--corSecundaria), var(--corTerciaria)); /* to com dúvida entre radial e linear */
    /* background-image: linear-gradient(var(--corSecundaria), var(--corTerciaria)); */
    font-family: "Philosopher", sans-serif;
    color: var(--corDoTextoDoFundoPreto);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--corPrincipal);
    color: var(--corDoTextoDoFundoPreto);
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    min-width: 100vw;
}

header ul li a {
    background-color: var(--corSecundaria);
    transition: 0.9ms background-image;
    color: var(--corPrincipal);
    transition: 0.9ms padding;
    transition: 0.9ms color;
    text-decoration: none;
    border-radius: 10px;
    padding: 8px;
    transition: 0.5s ease-in-out;
}

header ul li{
    margin-top: 5px;
}

header ul li a:hover, #botao-login:hover {
    background-image: radial-gradient(var(--corSecundaria), var(--corTerciaria));
    color: var(--corDoTextoDoFundoPreto);
    padding: 10px;
}

header .titulo {
    text-shadow: 5px 5px 5px black;
}

header ul, .titulo {
    margin: 20px 20px;
    list-style: none;
    display: flex;
    gap: 20px;
}

#botao-login {
    background-color: #8f7aa6;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 75px;
    height: 32px;
    font-family: Philosopher;
    font-weight: bold;
    font-size: 17px;
    margin-top: 18px;
    transform: translateX(300px);
    cursor: pointer;
    color: var(--corPrincipal);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
}

#fundo-login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 300px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 229, 229);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    animation: animacaoAparecerLogin 0.5s ease forwards;
}

.bi-x-circle{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

#input-password {
    position: relative;
}

.bi-eye, .bi-eye-slash {
    position: absolute;
    font-size: 19px;
    left: 258px;
    top: 139px;
    color: black;
    cursor: pointer;
    display: inline;
}

#fundo-login .bi-x-circle:hover{
    color: gray;
}

#fundo-login.show {
    display: flex;
}

#fundo-login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

#fundo-login form input {
    padding: 9px;
    width: 200px;
    border-radius: 5px;
    background-color: rgba(140, 137, 137, 0.26);
    border: none;
    outline: none;
    font-weight: 500;
}

#enviar-form {
    background-color: rgba(58, 29, 101, 0.73);
    padding: 10px;
    border-radius: 3px;
    border: none;
    width: 230px;
    font-weight: 550;
    font-size: 16px;
    transform: translateY(55px);
    cursor: pointer;
    border: 2px solid transparent;
}

#enviar-form:hover {
    background-color: #7b718f;
}

@keyframes animacaoAparecerLogin {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.3);
    }
    to {
        opacity: 1;
        transform: scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
}


#cadastrar {
    position: absolute;
    bottom: 100px;
    left: 68px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
}

#cadastrar:hover {
    text-decoration-line: underline;
    color: #1d4aab;
}

.categorias .titulo-categoria {
    text-shadow: 5px 3px 5px black;
    text-align: center;
    font-weight: bold;
}

.categorias .container {
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
    text-align: center;
    margin: 0 20px;
    display: grid;
}

.categorias .container img, video {
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    height: 200px;
    width: 300px;
}

.categorias .container .card-filme {
    background-color: #60519b;
    transition: 0.5s padding ease-in-out, 0.6s font-size, 0.9ms background-image;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}

.categorias .container .card-filme a {
    color: var(--corDeFundoPreto);
    transition: 1s font-size;
    text-decoration: none;
    list-style: none;
}

.categorias .container .card-filme a:hover {
    font-size: 150%;
}

.categorias .container .card-filme:hover {
    background-image: linear-gradient(var(--corPrincipal), var(--corSecundaria));
    padding: 20px;
}

footer {
    background-color: var(--corTerciaria);
    justify-content: center;
    text-align: center;
    position: relative;
    min-width: 90vw;
    padding: 20px;
    display: flex;
    height: 50px;
}
